<div class="container">
    <div>
      <a routerLink="/home" class="btn btn-primary btn-lg">Home</a> &nbsp; &nbsp;
      <a routerLink="/reports" class="btn btn-primary btn-lg">Reports</a>
    </div>
  
    <div class="container">
      <div class="info">
        <div class="col-12">
          <div class="bg-info">
            <h2 class="bg.dark text-center">Patient Catalogue</h2>
            
            <form class="form-inline my-2 my-lg-0">
              <input type="text" class="form-control mr-sm-2"
                placeholder="Search By Name" aria-label="Search">
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
  
          <hr>
  
        </div>
      </div>
    </div>
  
  </div>